<h1 class="robot-page-header">Services</h1>


<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
<% if can? :manage, @service %>
      <th>Setttings</th>
      <th>Actions</th>
<% end %>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, service %></td>
        <td><%= service.model_name %></td>
<% if can? :manage, @service %>  
        <td><%= service.setttings %></td>
        <td>
          <%= link_to(edit_service_path(service), class: "robot-action-icon") do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end -%> 
          <%= link_to(service_path(service), method: :delete, data: { confirm: 'Are you sure?' }, class: "robot-action-icon") do %>
            <i class="fa fa-trash-o"></i>
          <% end -%> 
        </td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, @service %>
  <%= link_to 'New Service', new_service_path %>
<% end %>