<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Setttings:</strong>
  <%= @service.setttings %>
</p>

<p>
  <strong>Model Name:</strong>
  <%= @service.model_name %>
</p>


<p>
  <strong>Metrics:</strong>
</p>


<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Settings</th>
      <th>Attr</th>
      <th>Unit</th>
      <th>Transform</th>
      <th>Service</th>
      <th>Visualization</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service.metrics.each do |metric| %>
      <tr>
        <td><%= metric.name %></td>
        <td><%= metric.settings %></td>
        <td><%= metric.attr %></td>
        <td><%= metric.unit %></td>
        <td><%= metric.transform %></td>
        <td><%= metric.service.name %></td>
        <td><%= metric.visualization.name %></td>
        <td><%= link_to 'Show', [metric.service, metric] %></td>
        <td><%= link_to 'Edit', edit_service_metric_path(@service, metric) %></td>
        <td><%= link_to 'Destroy', [metric.service, metric], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metric', new_service_metric_path(@service) %>


<br/>
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
