<div class="row">
  <div class="col-lg-12">  

    <timepicker-panel></timepicker-panel>
    
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <!-- <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li> -->
        <li role="presentation"><a href="#facebook" aria-controls="facebook" role="tab" data-toggle="tab">facebook</a></li>
        <li role="presentation"><a href="#instagram" aria-controls="instagram" role="tab" data-toggle="tab">instagram</a></li>
        <li role="presentation"><a href="#twitter" aria-controls="twitter" role="tab" data-toggle="tab">twitter</a></li>
        <li role="presentation"><a href="#ping" aria-controls="ping" role="tab" data-toggle="tab">ping</a></li>
        <li role="presentation"><a href="#speedtest" aria-controls="speedtest" role="tab" data-toggle="tab">speedtest</a></li>
        <li role="presentation"><a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">youtube</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- <div role="tabpanel" class="tab-pane active" id="home"></div> -->
        <div role="tabpanel" class="tab-pane" id="facebook">
          <% @metric1 = Metric.find_by(name: 'TestMapReduce') %>
          <linechart-panel 
              name="<%= @metric1.name %>"
              description="<%= @metric1.description %>"
              service="<%= @metric1.service.name %>" 
              metricid="<%= @metric1.id %>" 
              attr="<%= @metric1.attr %>" 
              width="1000" height="300">
            <div></div>
          </linechart-panel>
        </div>
        <div role="tabpanel" class="tab-pane" id="instagram">...</div>
        <div role="tabpanel" class="tab-pane" id="twitter">...</div>
        <div role="tabpanel" class="tab-pane" id="ping">...</div>
        <div role="tabpanel" class="tab-pane" id="speedtest">...</div>
        <div role="tabpanel" class="tab-pane" id="youtube">...</div>
      </div>

    </div>

    

  </div>
</div>