<%= form_for([@vspec.metric, @vspec], html: {class: "form-horizontal"}) do |f| %>
  <% if @vspec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vspec.errors.count, "error") %> prohibited this vspec from being saved:</h2>

      <ul>
      <% @vspec.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <!-- <div class="field">
    <%= f.label :metric_id %><br>
    <%= f.number_field :metric_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
