<h1>Listing metric_pings</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Location</th>
      <th>Rncname</th>
      <th>Mobile code</th>
      <th>Imei</th>
      <th>Imsi</th>
      <th>Target ip</th>
      <th>Attempt</th>
      <th>Percent loss</th>
      <th>Avg packet loss rate</th>
      <th>Avg rtt succ rate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @metric_pings.each do |metric_ping| %>
      <tr>
        <td><%= metric_ping.region %></td>
        <td><%= metric_ping.location %></td>
        <td><%= metric_ping.rncname %></td>
        <td><%= metric_ping.mobile_code %></td>
        <td><%= metric_ping.imei %></td>
        <td><%= metric_ping.imsi %></td>
        <td><%= metric_ping.target_ip %></td>
        <td><%= metric_ping.attempt %></td>
        <td><%= metric_ping.percent_loss %></td>
        <td><%= metric_ping.avg_packet_loss_rate %></td>
        <td><%= metric_ping.avg_rtt_succ_rate %></td>
        <td><%= link_to 'Show', metric_ping %></td>
        <td><%= link_to 'Edit', edit_metric_ping_path(metric_ping) %></td>
        <td><%= link_to 'Destroy', metric_ping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metric ping', new_metric_ping_path %>
