<p id="notice"><%= notice %></p>

<p>
  <strong>Mobile code:</strong>
  <%= @ms_location.mobile_code %>
</p>

<p>
  <strong>Mini box:</strong>
  <%= @ms_location.mini_box %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @ms_location.imei %>
</p>

<p>
  <strong>Serial no:</strong>
  <%= @ms_location.serial_no %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @ms_location.mobile_no %>
</p>

<p>
  <strong>Region:</strong>
  <%= @ms_location.region %>
</p>

<p>
  <strong>Rncname:</strong>
  <%= @ms_location.rncname %>
</p>

<p>
  <strong>Building:</strong>
  <%= @ms_location.building_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ms_location.location %>
</p>

<%= link_to 'Edit', edit_ms_location_path(@ms_location) %> |
<%= link_to 'Back', ms_locations_path %>
