<%= form_for([@metric.service, @metric], html: {class: "form-horizontal"}) do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :name, class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :mapf, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :mapf, class: "form-control", rows: "5" %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :groupf, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :groupf, class: "form-control", rows: "5"  %>
    </div>
  </div>
    <div class="form-group field">
    <%= f.label :reducef_init_value, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :reducef_init_value, class: "form-control", rows: "3"  %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :reducef, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_area :reducef, class: "form-control", rows: "8"  %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :attr, class: "col-sm-2" %>
    <div class="col-sm-10">
      
      <%= f.select :attr, options_for_select(@metric.service.model_name.constantize.get_default(:export_attr).map {|d| [d, d]}, selected: @metric.attr), {} , class: "form-control" %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label :unit, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :unit, class: "form-control"  %>
    </div>
  </div>
  <div class="form-group field">
    <%= f.label "Visualization", class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select :visualization_id, options_from_collection_for_select(Visualization.all, :id, :name), {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
