<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @metric.settings %>
</p>

<p>
  <strong>Service name:</strong>
  <%= @metric.service.name %>
</p>

<p>
  <strong>Attr:</strong>
  <%= @metric.attr %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @metric.unit %>
</p>

<p>
  <strong>Transform:</strong>
  <%= @metric.transform %>
</p>

<p>
  <strong>Partial view</strong>
  <%= render "visualizations/shared/" + @metric.visualization.view_path %>
</p>
<br/>

<%= link_to 'Edit', edit_service_metric_path(@metric.service, @metric) %> |
<%= link_to 'Back', service_metrics_path(@metric.service) %>
