<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @metric_speedtest.region %>
</p>

<p>
  <strong>Location:</strong>
  <%= @metric_speedtest.location %>
</p>

<p>
  <strong>Rncname:</strong>
  <%= @metric_speedtest.rncname %>
</p>

<p>
  <strong>Mobile code:</strong>
  <%= @metric_speedtest.mobile_code %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @metric_speedtest.imei %>
</p>

<p>
  <strong>Imsi:</strong>
  <%= @metric_speedtest.imsi %>
</p>

<p>
  <strong>Script name:</strong>
  <%= @metric_speedtest.script_name %>
</p>

<p>
  <strong>Set server name:</strong>
  <%= @metric_speedtest.set_server_name %>
</p>

<p>
  <strong>Attempt:</strong>
  <%= @metric_speedtest.attempt %>
</p>

<p>
  <strong>Download 1mbps:</strong>
  <%= @metric_speedtest.download_1mbps %>
</p>

<p>
  <strong>Speedtest dl 1m rate:</strong>
  <%= @metric_speedtest.speedtest_dl_1m_rate %>
</p>

<p>
  <strong>Download 2mbps:</strong>
  <%= @metric_speedtest.download_2mbps %>
</p>

<p>
  <strong>Speedtest dl 2m rate:</strong>
  <%= @metric_speedtest.speedtest_dl_2m_rate %>
</p>

<p>
  <strong>Upload 300kbps:</strong>
  <%= @metric_speedtest.upload_300kbps %>
</p>

<p>
  <strong>Speedtest ul 300k rate:</strong>
  <%= @metric_speedtest.speedtest_ul_300k_rate %>
</p>

<p>
  <strong>Upload 1mkbps:</strong>
  <%= @metric_speedtest.upload_1mkbps %>
</p>

<p>
  <strong>Speedtest ul 1m rate:</strong>
  <%= @metric_speedtest.speedtest_ul_1m_rate %>
</p>

<p>
  <strong>Latency 300ms:</strong>
  <%= @metric_speedtest.latency_300ms %>
</p>

<p>
  <strong>Speedtest lt 300k rate:</strong>
  <%= @metric_speedtest.speedtest_lt_300k_rate %>
</p>

<%= link_to 'Edit', edit_metric_speedtest_path(@metric_speedtest) %> |
<%= link_to 'Back', metric_speedtests_path %>
