<p id="notice"><%= notice %></p>

<p>
  <strong>Imei:</strong>
  <%= @raw_speedtest.imei %>
</p>

<p>
  <strong>Imsi:</strong>
  <%= @raw_speedtest.imsi %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @raw_speedtest.technology %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @raw_speedtest.datetime %>
</p>

<p>
  <strong>Download:</strong>
  <%= @raw_speedtest.download %>
</p>

<p>
  <strong>Upload:</strong>
  <%= @raw_speedtest.upload %>
</p>

<p>
  <strong>Latency:</strong>
  <%= @raw_speedtest.latency %>
</p>

<p>
  <strong>Server:</strong>
  <%= @raw_speedtest.server_id %>
</p>

<p>
  <strong>Server name:</strong>
  <%= @raw_speedtest.server_name %>
</p>

<p>
  <strong>Avg ecio:</strong>
  <%= @raw_speedtest.avg_ecio %>
</p>

<p>
  <strong>Avg rssi:</strong>
  <%= @raw_speedtest.avg_rssi %>
</p>

<p>
  <strong>Mcc:</strong>
  <%= @raw_speedtest.mcc %>
</p>

<p>
  <strong>Mcc:</strong>
  <%= @raw_speedtest.mcc %>
</p>

<p>
  <strong>Lac:</strong>
  <%= @raw_speedtest.lac %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @raw_speedtest.cell_id %>
</p>

<p>
  <strong>Script name:</strong>
  <%= @raw_speedtest.script_name %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @raw_speedtest.operator %>
</p>

<p>
  <strong>Result:</strong>
  <%= @raw_speedtest.result %>
</p>

<p>
  <strong>Set server:</strong>
  <%= @raw_speedtest.set_server_id %>
</p>

<p>
  <strong>Set server name:</strong>
  <%= @raw_speedtest.set_server_name %>
</p>

<p>
  <strong>Apn:</strong>
  <%= @raw_speedtest.apn %>
</p>

<%= link_to 'Edit', edit_raw_speedtest_path(@raw_speedtest) %> |
<%= link_to 'Back', raw_speedtests_path %>
