<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @link.source %>
</p>

<p>
  <strong>Target:</strong>
  <%= @link.target %>
</p>

<p>
  <strong>Status:</strong>
  <%= @link.status %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
