<p id="notice"><%= notice %></p>

<p>
  <strong>Imei:</strong>
  <%= @raw_youtube.imei %>
</p>

<p>
  <strong>Imsi:</strong>
  <%= @raw_youtube.imsi %>
</p>

<p>
  <strong>Script name:</strong>
  <%= @raw_youtube.script_name %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @raw_youtube.operator %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @raw_youtube.technology %>
</p>

<p>
  <strong>Avg rssi:</strong>
  <%= @raw_youtube.avg_rssi %>
</p>

<p>
  <strong>Avg rxlen:</strong>
  <%= @raw_youtube.avg_rxlen %>
</p>

<p>
  <strong>Avg ecio:</strong>
  <%= @raw_youtube.avg_ecio %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @raw_youtube.cell_id %>
</p>

<p>
  <strong>Lac:</strong>
  <%= @raw_youtube.lac %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @raw_youtube.start_time %>
</p>

<p>
  <strong>Stop time:</strong>
  <%= @raw_youtube.stop_time %>
</p>

<p>
  <strong>Duration time:</strong>
  <%= @raw_youtube.duration_time %>
</p>

<p>
  <strong>Data download transfer:</strong>
  <%= @raw_youtube.data_download_transfer %>
</p>

<p>
  <strong>Throughput download app:</strong>
  <%= @raw_youtube.throughput_download_app %>
</p>

<p>
  <strong>Throughput download rlc:</strong>
  <%= @raw_youtube.throughput_download_rlc %>
</p>

<p>
  <strong>Result:</strong>
  <%= @raw_youtube.result %>
</p>

<p>
  <strong>Result detail:</strong>
  <%= @raw_youtube.result_detail %>
</p>

<p>
  <strong>Youtube video duration:</strong>
  <%= @raw_youtube.youtube_video_duration %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @raw_youtube.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @raw_youtube.lon %>
</p>

<p>
  <strong>Apn:</strong>
  <%= @raw_youtube.apn %>
</p>

<%= link_to 'Edit', edit_raw_youtube_path(@raw_youtube) %> |
<%= link_to 'Back', raw_youtubes_path %>
