<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @metric_youtube.region %>
</p>

<p>
  <strong>Location:</strong>
  <%= @metric_youtube.location %>
</p>

<p>
  <strong>Rncname:</strong>
  <%= @metric_youtube.rncname %>
</p>

<p>
  <strong>Mobile code:</strong>
  <%= @metric_youtube.mobile_code %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @metric_youtube.imei %>
</p>

<p>
  <strong>Imsi:</strong>
  <%= @metric_youtube.imsi %>
</p>

<p>
  <strong>Script name:</strong>
  <%= @metric_youtube.script_name %>
</p>

<p>
  <strong>Attempt:</strong>
  <%= @metric_youtube.attempt %>
</p>

<p>
  <strong>Success:</strong>
  <%= @metric_youtube.success %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @metric_youtube.quality %>
</p>

<p>
  <strong>Youtube succ rate:</strong>
  <%= @metric_youtube.youtube_succ_rate %>
</p>

<p>
  <strong>Youtube qual rate:</strong>
  <%= @metric_youtube.youtube_qual_rate %>
</p>

<p>
  <strong>Youtube rate:</strong>
  <%= @metric_youtube.youtube_rate %>
</p>

<%= link_to 'Edit', edit_metric_youtube_path(@metric_youtube) %> |
<%= link_to 'Back', metric_youtubes_path %>
