<timepicker-panel></timepicker-panel>
<linechart-panel 
    name="<%= @metric.name %>"
    description="<%= @metric.description %>"
    service="<%= @metric.service.name %>" 
    metricid="<%= @metric.id %>" 
    attr="<%= @metric.attr %>" 
    width="1000" height="500">
  <div></div>
</linechart-panel>