<timepicker-panel></timepicker-panel>
<style type="text/css">
  .line {
    fill: none;
    stroke-width: 1.5px;
  }

  .hover-line { 
    stroke: #E6E7E8;
    fill: none;
    stroke-width: 1px;
    left: 10px;
    shape-rendering: crispEdges;
    opacity: 1e-6;
  }

  .legend-box {
    cursor: pointer;  
  }

  .tooltip {
    /*fill: #000000;*/
    /*stroke-width: 3px;*/
  }

</style>
<linechart-panel 
    name="<%= @metric.name %>"
    description="<%= @metric.description %>"
    service="<%= @metric.service.name %>" 
    metricid="<%= @metric.id %>" 
    attr="<%= @metric.attr %>" 
    width="1000" height="300">
  <div></div>
</linechart-panel>