<%= form_for([@filter.metric, @filter], html: {class: "form-horizontal"}) do |f| %>

  <% if @filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filter.errors.count, "error") %> prohibited this filter from being saved:</h2>

      <ul>
      <% @filter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :multiple %><br>
    <%= f.check_box :multiple %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
<!--   <div class="field">
    <%= f.label :metric_id %><br>
    <%= f.number_field :metric_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
