<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @filter.field %>
</p>

<p>
  <strong>Opearation:</strong>
  <%= @filter.operation %>
</p>

<p>
  <strong>Opearand:</strong>
  <%= @filter.operand %>
</p>

<p>
  <strong>Opearand Type:</strong>
  <%= @filter.operand_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @filter.description %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @filter.metric_id %>
</p>

<%= link_to 'Edit', edit_metric_filter_path(@filter.metric, @filter) %> |
<%= link_to 'Back', service_metric_path(@filter.metric.service, @filter.metric) %>
