<%= form_for(@time_config) do |f| %>
  <% if @time_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_config.errors.count, "error") %> prohibited this time_config from being saved:</h2>

      <ul>
      <% @time_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group field">
    <%= f.label :name, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :description, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :start, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :start, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :stop, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :stop, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :interval, class: "col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :interval, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :time_type, class: "col-sm-2" %>
    <div class="col-sm-10">
      <%= f.label :time_type, "Realtime", :value => "_realtime"  %>
      <%= f.radio_button :time_type, "_realtime", :checked => @time_config.time_type == "_realtime" %>
      <%= f.label :time_type, "Relative", :value => "_relative" %>
      <%= f.radio_button :time_type, "_relative", :checked => @time_config.time_type == "_relative" %>
      <%= f.label :time_type, "Interval", :value => "_interval" %>
      <%= f.radio_button :time_type, "_interval", :checked => @time_config.time_type == "_interval" %>
    </div>
  </div>

  <div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
