<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_config.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @time_config.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @time_config.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @time_config.stop %>
</p>

<p>
  <strong>Time type:</strong>
  <%= @time_config.time_type %>
</p>

<%= link_to 'Edit', edit_time_config_path(@time_config) %> |
<%= link_to 'Back', time_configs_path %>
