<%= form_for(@raw_http) do |f| %>
  <% if @raw_http.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_http.errors.count, "error") %> prohibited this raw_http from being saved:</h2>

      <ul>
      <% @raw_http.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :connecting_time_1 %><br>
    <%= f.text_field :connecting_time_1 %>
  </div>
  <div class="field">
    <%= f.label :time_to_first_byte_1 %><br>
    <%= f.text_field :time_to_first_byte_1 %>
  </div>
  <div class="field">
    <%= f.label :result_1 %><br>
    <%= f.text_field :result_1 %>
  </div>
  <div class="field">
    <%= f.label :result_detail_1 %><br>
    <%= f.text_field :result_detail_1 %>
  </div>
  <div class="field">
    <%= f.label :imei %><br>
    <%= f.text_field :imei %>
  </div>
  <div class="field">
    <%= f.label :imsi %><br>
    <%= f.text_field :imsi %>
  </div>
  <div class="field">
    <%= f.label :script_name %><br>
    <%= f.text_field :script_name %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :service_info %><br>
    <%= f.text_field :service_info %>
  </div>
  <div class="field">
    <%= f.label :agv_rssi %><br>
    <%= f.text_field :agv_rssi %>
  </div>
  <div class="field">
    <%= f.label :avg_rxlev %><br>
    <%= f.text_field :avg_rxlev %>
  </div>
  <div class="field">
    <%= f.label :avg_ecio %><br>
    <%= f.text_field :avg_ecio %>
  </div>
  <div class="field">
    <%= f.label :cell_id %><br>
    <%= f.number_field :cell_id %>
  </div>
  <div class="field">
    <%= f.label :lac %><br>
    <%= f.number_field :lac %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :stop_date %><br>
    <%= f.datetime_select :stop_date %>
  </div>
  <div class="field">
    <%= f.label :duration_time %><br>
    <%= f.text_field :duration_time %>
  </div>
  <div class="field">
    <%= f.label :data_download_transfer %><br>
    <%= f.number_field :data_download_transfer %>
  </div>
  <div class="field">
    <%= f.label :max_download %><br>
    <%= f.text_field :max_download %>
  </div>
  <div class="field">
    <%= f.label :max_download_overall %><br>
    <%= f.text_field :max_download_overall %>
  </div>
  <div class="field">
    <%= f.label :min_download %><br>
    <%= f.text_field :min_download %>
  </div>
  <div class="field">
    <%= f.label :throughput_download_ip %><br>
    <%= f.text_field :throughput_download_ip %>
  </div>
  <div class="field">
    <%= f.label :throughput_download_app %><br>
    <%= f.text_field :throughput_download_app %>
  </div>
  <div class="field">
    <%= f.label :throughput_download_rlc %><br>
    <%= f.text_field :throughput_download_rlc %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :apn %><br>
    <%= f.text_field :apn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
