<p id="notice"><%= notice %></p>

<p>
  <strong>Connecting time 1:</strong>
  <%= @raw_http.connecting_time_1 %>
</p>

<p>
  <strong>Time to first byte 1:</strong>
  <%= @raw_http.time_to_first_byte_1 %>
</p>

<p>
  <strong>Result 1:</strong>
  <%= @raw_http.result_1 %>
</p>

<p>
  <strong>Result detail 1:</strong>
  <%= @raw_http.result_detail_1 %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @raw_http.imei %>
</p>

<p>
  <strong>Imsi:</strong>
  <%= @raw_http.imsi %>
</p>

<p>
  <strong>Script name:</strong>
  <%= @raw_http.script_name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @raw_http.service %>
</p>

<p>
  <strong>Service info:</strong>
  <%= @raw_http.service_info %>
</p>

<p>
  <strong>Agv rssi:</strong>
  <%= @raw_http.avg_rssi %>
</p>

<p>
  <strong>Avg rxlev:</strong>
  <%= @raw_http.avg_rxlev %>
</p>

<p>
  <strong>Avg ecio:</strong>
  <%= @raw_http.avg_ecio %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @raw_http.cell_id %>
</p>

<p>
  <strong>Lac:</strong>
  <%= @raw_http.lac %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @raw_http.start_date %>
</p>

<p>
  <strong>Stop date:</strong>
  <%= @raw_http.stop_date %>
</p>

<p>
  <strong>Duration time:</strong>
  <%= @raw_http.duration_time %>
</p>

<p>
  <strong>Data download transfer:</strong>
  <%= @raw_http.data_download_transfer %>
</p>

<p>
  <strong>Max download:</strong>
  <%= @raw_http.max_download %>
</p>

<p>
  <strong>Max download overall:</strong>
  <%= @raw_http.max_download_overall %>
</p>

<p>
  <strong>Min download:</strong>
  <%= @raw_http.min_download %>
</p>

<p>
  <strong>Throughput download ip:</strong>
  <%= @raw_http.throughput_download_ip %>
</p>

<p>
  <strong>Throughput download app:</strong>
  <%= @raw_http.throughput_download_app %>
</p>

<p>
  <strong>Throughput download rlc:</strong>
  <%= @raw_http.throughput_download_rlc %>
</p>

<p>
  <strong>Result:</strong>
  <%= @raw_http.result %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @raw_http.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @raw_http.lon %>
</p>

<p>
  <strong>Apn:</strong>
  <%= @raw_http.apn %>
</p>

<%= link_to 'Edit', edit_raw_http_path(@raw_http) %> |
<%= link_to 'Back', raw_https_path %>
