<!DOCTYPE html>
<html>
<head>
  <title>Autobots</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="autobot">
<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<% if user_signed_in? %>
<!-- ==========Header=========== -->    
<section class="robot-section-navbar">
  <!-- Nav bar top  -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div class="text-center robot-logo-text">
              <div>Robot*</div>
          </div>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Settings</a></li> -->
          <!-- /.dropdown -->
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                  <li><a href="/users/edit"><i class="fa fa-user fa-fw"></i> User Profile</a>
                  </li>
                  <li><a href="#"><i class="fa fa-gear fa-fw"></i> Account Settings</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <%= link_to(destroy_user_session_path, :method => :delete) do %> 
                          <i class="fa fa-sign-out fa-fw"></i> Logout
                      <% end -%>
                  </li>
              </ul>
              <!-- /.dropdown-user -->
          </li>
          <!-- <li><a href="#">Help</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- ==========Contents=========== -->
<section class="robot-section-main">
  <div class="container-fluid">
    <!-- side bar navigator -->
    <div class="row">      
      <div class="col-lg-2 robot-navbar-side-wrapper">
        <!-- nav -->
        <div class="row">
          <div class="col-lg-12">
            <div class="robot-navbar-side">
              <ul class="nav nav-pills nav-stacked" id="side-menu">
                <li>
                    <a href="/dashboards"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <%= link_to(services_path) do %>
                        <i class="fa fa-bar-chart-o fa-fw"></i> Services
                    <% end -%>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Tables<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><%= link_to "Http", raw_https_path %></li>
                        <li><%= link_to "Ping", raw_pings_path %></li>
                        <li><%= link_to "Youtube", raw_youtubes_path %></li>
                        <li><%= link_to "Speedtest", raw_speedtests_path %></li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <%= link_to(visualizations_path) do %>
                        <i class="fa fa-bar-chart-o fa-fw"></i> Visualizations
                    <% end -%>
                </li>
              </ul>
            </div>
          </div>
        </div>
        

      </div>

      <!-- Main contents -->
      <div class="col-lg-offset-2 col-lg-10 main">
          <%= flash_messages %>   
          <!-- content -->
          
          <section class="robot-content-main">
            <%= yield %>      
          </section>  
          <!-- <div class="row">
            <div class="col-lg-12">
                
            </div>
          </div> -->
      </div>
    </div>
  </div>
</section>

<% else %>
<!-- ======== No logined user ==============  -->
<section class="robot-section-login">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-4">
        <%= flash_messages %>
        <%= yield %>  
      </div>
    </div>
  </div>
</section>
<% end %>

</body>
</html>
